{% extends "base.html" %}
{% block title %}Home{% endblock title%}

{% block content %}
    <h1> <u> Select <b> 6 </b> Pokemon </u> </h1>
    <h3> Use <b> CTRL + F </b> to search </h3>
    <br>
    <form method = "POST" action="{{url_for('index')}}">
    <div class = "container">
        <div class = "row">
            {% for pokemon in data %}
                <div class = "col-3">
                    <input type="checkbox" name={{pokemon}} value={{pokemon}}>
                    <label for={{pokemon}}>{{pokemon}}</label><br>
                </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
{% endblock content%}
