{% extends "base.html" %}
{% block title %}Home{% endblock title%}

{% block content %}
<div style = "background-color:#e84a44">
    <br>
    <h1 class = "d-flex justify-content-center"> Pokémon Team Builder </h1>
    <h3 class = "d-flex justify-content-center text-light"> Use CTRL + F to Search </h3>
    <h5 class = "d-flex justify-content-center"> [Submit for Type Analysis] </h5>
    <form method = "POST" action="{{url_for('results')}}">
    <div class = "d-flex justify-content-center" style="background-color:#e84a44">
        <button type="submit" class="btn btn-primary" style = "margin-top:10vh"
        onclick = "if (document.querySelectorAll('input:checked').length < 6) {
                    alert('You MUST pick 6 Pokémon!');
                    return false;}"
        >Submit</button>
    </div>
    <div class="container d-flex justify-content-center" style="background-image:url('static/images/rotom-background.png'); background-repeat:no-repeat; background-size: 100%;">
        <div class="overflow-auto row" style="height:50vh; margin-top:40vh; margin-left:10vw margin-right:10vw">
            {% for pokemon in data %}
                <div class = "col-3">
                    <input type="checkbox" name={{pokemon}} 
                    onclick="if(document.querySelectorAll('input:checked').length > 6) {
                        this.checked = false;
                        alert('You Can Only Pick 6 Pokémon Max! Don\'t Be Greedy!');
                    }">
                    <label for={{pokemon}}>{{pokemon.capitalize()}}</label><br>
                </div>
            {% endfor %}
            
        </div>
    </div>
    </form>
</div>
{% endblock content%}
