{% extends "base.html"%}

{% block content %}
<div class="container">
    <br>
    <div class = "row">
        <form method = "POST" action="{{url_for('battle')}}">
        {% for i in range(2) %}
            {% if i == 1 %}
                <div class = "col-4">
                    <h3> V.S. </h3>
                </div>
            {% endif %}
            <div class="col-4">
            <select name = {{"team" + (i + 1)|string}}>
            {% for team in data %}
                <option value = {{team['_id']}}>{{team['name']}}</option>
            {% endfor %}
            </select>
            </div>
        {% endfor %}
        <div class = "container">
            <br>
            <button type="submit" class="btn-primary">Go to Battle</button>
            <button type="button" class = "btn-danger" onclick="window.location.href='{{ url_for('viewTeam') }}';">Go Back</button>
        </div>
        </form>
    </div>
</div>
{% endblock content %}