{% extends "base.html"%}

{% block content %}
<div style = "background-color: #e84b43">
<div class="container">
    <br>
    <div class = "row">
        <form method = "POST" action="{{url_for('game')}}">
        {% for i in range(2) %}
            {% if i == 1 %}
            <br>
                <h5 class = "text-light"> V.S. </h5>
            <br>
            {% endif %}
            <h3 class = "text-light"> Team {{(i + 1)|string}}: </h3>
            <div class="col-4">
            <select name = {{"team" + (i + 1)|string}}>
            {% for team in data %}
                <option value = {{team['_id']}}>{{team['name']}}</option>
            {% endfor %}
            </select>
            </div>
        {% endfor %}
        <div class = "container">
            <br>
            <button type="submit" class="btn-primary">Go to Battle</button>
            <button type="button" class = "btn-danger" onclick="window.location.href='{{ url_for('viewTeam') }}';">Go Back</button>
        </div>
        </form>
    </div>
</div>
</div>
{% endblock content %}