{% extends "base.html"%}
{% block title %}Team Viewer{% endblock title %}
{% block content%}
<div style = "background-color: #e84b43">
<br>
<div class="container">
<h3 class="text-light d-flex justify-content-center"> PokeTeams </h3>
<br>
  <div class="row">
    {% for team in data %}
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card" style="height: 15rem; margin-bottom: 1rem;">
        <div class="card-body">
          <h5 class="card-title">{{team['name']}}</h5>
            <ul>
                {% for mon in team['team'] %}
                    <li> <h6 class="card-subtitle mb-2 text-muted">{{mon.capitalize()}}</h6> </li>
                {% endfor %}
            </ul>
          <a href={{url_for('teamDetails', id=team['_id']|string)}}>Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br>
<br>
<br>
</div>
{% endblock %}